#navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #020410;
  border-bottom: 1px solid #aaaaac;
  overflow: hidden;
  z-index: 2;

  img {
    height: 100%;
  }
}