#footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #020410;
  border-top: 1px solid #aaaaac;
  overflow: hidden;
  z-index: 2;
  filter: drop-shadow(0px -2px 5px black);

  a {
    height: 10vh;
    display: flex;
    align-items: center;
    color: #aaaaac;
    font-family: 'Play';
    font-size: 1.3em;
    filter: invert(0.5) brightness(0.4);

    img {
      height: 90%;
      margin: 0;
      mix-blend-mode: lighten;
      opacity: 0.5;
    }
  }

  @media only screen and (max-width: 425px) {
    height: 6.5vh;
    justify-content: center;

    a {
      height: 6.5vh;
    }
  }
}
