$textColour: #aaaaac;

#homePage {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  font-size: 1.72vmin;

  .main {
    width: 70%;
    margin-right: -10%;
    color: $textColour;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(97deg, #10131a 85%, $textColour 85%, $textColour calc(85% + 1px), transparent calc(85% + 1px));
    z-index: 1;
    filter: drop-shadow(2px 0px 5px black);
    font-family: "Saira Condensed";

    #header {
      width: fit-content;
      display: flex;
      align-items: flex-end;
      padding-right: 3vw;
      border-bottom: solid 1vmin $textColour;
      border-right: solid 1vmin transparent;

      .icon {
        filter: drop-shadow(0px 0px 3px $textColour);

        .mask1 {
          transform: scale(1.5);
          width: fit-content;
          height: fit-content;
          margin-bottom: -5vh;
          mask: linear-gradient(45deg, transparent 35.5%, black 35.5%, black 66.5%, transparent 66.5%);

          .mask2 {
            width: fit-content;
            height: fit-content;
            mask: linear-gradient(-45deg, transparent 36.2%, black 36.2%, black 65.8%, transparent 65.8%);

            img {
              height: 20vh;
            }
          }
        }
      }

      h1 {
        font-size: 3.5em;
        width: fit-content;
        margin: 0;
        color: $textColour;
        font-family: "Play";
        color: #eeeeed;
      }
    }

    h3 {
      margin: 0;
      margin-left: 20vh;
    }

    p,
    ul {
      font-size: 1.3em;
      width: 70%;
      margin-left: 3vw;

      li {
        margin-bottom: 1%;
      }
    }

    #groupInformation {
      width: 100%;
      height: 2vmax;
      display: flex;
      margin: 1.5%;
      margin-top: 0;

      .group {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5%;
        border-top: 1px solid #eeeeed;
        border: 1px solid #eeeeed;
        border-radius: 100px;
        overflow: hidden;
        filter: drop-shadow(0px 0px 3px black);
        transition: filter 0.3s;

        &:hover {
          filter: drop-shadow(0px 0px 3px $textColour);
        }

        .iconContainer {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeeed;

          svg, img {
            height: 90%;
            padding-left: 15%;
            padding-right: 15%;

            path {
              fill: #10131a;
            }
          }
        }

        span {
          margin: auto;
          color: $textColour;
          font-size: 1.3em;
        }
      }
    }
  }
}
